<div class="container d-flex flex-column justify-content-center align-items-center">

  <div class="my-5">
    <%= bootstrap_form_with model: @task do |f| %>
      <%= f.text_field :title, placeholder: 'The title of your task' %>
      <%= f.text_area :details, placeholder: 'The details of your task', rows: 10 %>
      <%= f.date_field :duedate %>
      <%= f.submit 'Edit Task!' %>
    <% end %>
  </div>
</div>