<div class="container d-flex flex-column justify-content-center align-items-center">

  <div class="my-5">
    <%= bootstrap_form_with model: @task, layout: :inline do |f| %>
      <%= f.text_field :title, placeholder: 'The title of your task', hide_label: true %>
      <%= f.text_field :details, placeholder: 'The details of your task', hide_label: true %>
      <%= f.date_field :duedate, hide_label: true %>
      <%= f.submit 'Create Task!' %>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 1em"scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th style="width: 4em" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <!-- Completed Button -->
        <td>
          <%= task.completed ? link_to_completed(svg_check_square, task, false) : link_to_completed(svg_square, task, true) %>
        </td>

        <!-- Title and details -->
        <td <%= task.completed ? "class=text-decoration-line-through" : "" %>>
          <%= task.title %><br>
          <span class="font-size-xx-small"><%= task.details %></span>
        </td>

        <!-- Due Date -->
        <td class="text-nowrap <%= task.completed ? "text-decoration-line-through" : "" %>">
          <%= task.duedate.strftime("%B %-d, %Y") if task.duedate %>
        </td>

        <!-- Edit and Delete Buttons -->
        <td class="text-right">
          <%= link_to svg_pencil_fill, edit_task_url(task) %>
          <%= link_to svg_trash_fill, task_url(task), method: "delete" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>