<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_url %>">Tasks</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= about_url %>">About</a>
      </li>
    </ul>
  </div>
</nav>