<div class="d-flex justify-content-center align-items-center my-5">
  <div class="w-50 h-50 text-center">
      <h1 class="my-5">About</h1>
      <p class="lead">This is a simple todo list with one resource, viz. <b>tasks</b>, that implements all the CRUD operations: we can <b>create</b> new tasks, as well as <b>read</b>, <b>update</b> and <b>delete</b> the existing tasks.</p>
      <p class="lead">It was built with Ruby on Rails in the backend and Bootstrap for the CSS. You can find the source code in its repository at GitLab:</p>
      <p class="lead"><a href="https://gitlab.com/writeonlycode/rails-todo-list">https://gitlab.com/writeonlycode/rails-todo-list/</a></p>
  </div>
</div>