<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
